<footer class="footer">
    <div class="footer__content">

        <div class="footer__top footer__row">
            <a class="footer__logo">
{#                {%  include 'assets/img/logo.svg' %}#}
            </a>
            <div class="footer__contact ">
                <p class="footer__contact__hint">Send us an e-mail.</p>
                <p class="footer__contact__value">info@startduck.com</p>
            </div>
            <div class="footer__contact">
                <p class="footer__contact__hint">Give us a call.</p>

                <p class="footer__contact__value">1.800.317.3844</p>
            </div>
        </div>

        <div class="footer__bottom footer__row">
            <p class="footer__p_info">Startduck 2022</p>
            <p class="footer__p_info">@ All rights reserved</p>
            <a href="" class="footer__p_info footer__a">Privacy Policy</a>
            <a href="" class="footer__p_info footer__a footer__a--mobile_last">Terms of use</a>
        </div>
    </div>
</footer>
