<section class="section prize">
    <div class="section__content">
        <h2 class="section__title prize__title">1inch prizes:</h2>
        <div class="prize__list">
            <div class="prize__item">
                <picture class="prize__item__picture">
                    <img decoding="async" loading="lazy" class="prize__item__picture__img img" src="/img/prize1.png" alt="Продажи">
                </picture>
                <h5 class="prize__item__title">1inch bike</h5>
            </div>
            <div class="prize__item">
                <picture class="prize__item__picture">
                    <img decoding="async" loading="lazy" class="prize__item__picture__img img" src="/img/prize2.png" alt="Продажи">
                </picture>
                <h5 class="prize__item__title">1INCH tokens</h5>
            </div>
            <div class="prize__item">
                <picture class="prize__item__picture">
                    <img decoding="async" loading="lazy" class="prize__item__picture__img img" src="/img/prize3.png" alt="Продажи">
                </picture>
                <h5 class="prize__item__title">Tickets to 1inch Parties</h5>
            </div>
        </div>
    </div>
</section>
