<section class="section main">
    <div class="section__content main__content">
        <div class="vertical_c_ali main__wrapper main__picture__wrapper">
            <picture class="main__picture">
                <img decoding="async" loading="lazy" class="main__picture__img img" src="/img/POAPs.png" alt="Продажи">
            </picture>
        </div>
        <div class="vertical_c_ali horizontal_c_ali main__wrapper main__header__wrapper">
            <div class="main__header">
                <h1 class="h h1 main__header__title">
                    <p class="main__header__title__text_mob">
                        <span>Money20/20</span><br> <span>treasure</span> hunt with the 1inch Network
                    </p>
                    <p class="main__header__title__text_desktop">
                        <span>Money20/20</span><br> <span>treasure hunt</span> with the 1inch Network
                    </p>
                </h1>
                <p class="h main__header__desc">Collect all the POAPs and win amazing prizes!</p>
            </div>
        </div>
    </div>

    <div class="section__bg main__bg"></div>
</section>
